In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/movieDataseet.csv')
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [ ]:
df.isnull().any()

id                   False
title                False
genre                 True
original_language    False
overview              True
popularity           False
release_date         False
vote_average         False
vote_count           False
dtype: bool

In [ ]:
df.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [ ]:
df.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [ ]:
df.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
movies=df[['id','title','overview','genre']]
movies.head()

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"

In [ ]:
movies['tags']=movies['overview']+movies['genre']

/tmp/ipython-input-226370073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['overview']+movies['genre']

In [ ]:
movies.head()

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10000 non-null  int64
 1   title     10000 non-null  object
 2   overview  9987 non-null   object
 3   genre     9997 non-null   object
 4   tags      9985 non-null   object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

In [ ]:
data=movies.drop(columns=['overview','genre'])
data.head()

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...

In [ ]:
# //to convert text into vectors,
# 1. Bag of word
# 2. TFIDF
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000,stop_words='english')

In [ ]:
vector=cv.fit_transform(data['tags'].values.astype('U')).toarray()

In [ ]:
vector.shape

(10000, 10000)

In [ ]:
# we will use cosine similarity now
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)
similarity

array([[1.        , 0.05634362, 0.13041013, ..., 0.07559289, 0.11065667,
        0.06900656],
       [0.05634362, 1.        , 0.07715167, ..., 0.        , 0.03636965,
        0.        ],
       [0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
        0.09449112],
       ...,
       [0.07559289, 0.        , 0.02300219, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.11065667, 0.03636965, 0.0673435 , ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06900656, 0.        , 0.09449112, ..., 0.03042903, 0.04454354,
        1.        ]])

In [ ]:
data[data['title']=="The Godfather"].index[0]

np.int64(2)

In [ ]:
distance=sorted(list(enumerate(similarity[2])),reverse=True,key= lambda v:v[1])
for i in distance[0:5]:
  print(data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [ ]:
# enumerate-> it pairs each similarity score with its index

In [ ]:
def recommend(movies):
  index=data[data['title']==movies].index[0]
  distance=sorted(list(enumerate(similarity[index])),reverse=True,key= lambda v:v[1])
  for i in distance [0:5]:
    print(data.iloc[i[0]].title)

recommend('Avatar')

Avatar
Krull
Small Soldiers
Predator
Iron Man 3

In [ ]:
recommend('Iron Man')

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

# Task
This project successfully developed a content-based movie recommendation system.

The steps taken were as follows:

1.  **Data Loading and Initial Exploration**: The `movieDataseet.csv` dataset was loaded into a pandas DataFrame. Initial checks were performed using `df.isnull().any()`, `df.describe()`, `df.info()`, and `df.isnull().sum()` to understand the data structure, identify missing values (in 'genre' and 'overview'), and inspect summary statistics.
2.  **Feature Selection**: Relevant columns (`id`, `title`, `overview`, `genre`) were selected for building the recommendation engine.
3.  **Feature Engineering**: A new column named 'tags' was created by concatenating the 'overview' and 'genre' columns. This combined text was intended to represent the core content of each movie.
4.  **Data Cleaning**: The original 'overview' and 'genre' columns were dropped, keeping only 'id', 'title', and 'tags' for the final recommendation data.
5.  **Text Vectorization**: The 'tags' content was converted into numerical vectors using `CountVectorizer`. This technique transforms text into a matrix of token counts, with a maximum of 10,000 features and common English stop words removed.
6.  **Similarity Calculation**: Cosine similarity was calculated between all movie vectors. This metric measures the cosine of the angle between two vectors, indicating their similarity.
7.  **Recommendation Function**: A Python function `recommend(movies)` was created. This function takes a movie title as input, finds its index, calculates its similarity to all other movies, sorts them by similarity, and prints the top 5 most similar movie titles.

The goal achieved is a functional content-based movie recommendation system that can suggest movies similar to a given input based on their plot overview and genres.

**Key Insights and Next Steps**:

*   The current system effectively provides recommendations based purely on text content (overview and genre).
*   The `CountVectorizer` approach is a good starting point but can be enhanced.
*   **Next Steps**:
    *   **Improve Text Representation**: Explore more advanced text vectorization techniques like TF-IDF (Term Frequency-Inverse Document Frequency) or word embeddings (e.g., Word2Vec, GloVe, or transformer-based embeddings like BERT) to capture semantic meanings more effectively.
    *   **Handle Missing Data**: Implement more sophisticated strategies for handling missing 'genre' and 'overview' data rather than just concatenating potentially `None` values, which might lead to `NaN` in the 'tags'.
    *   **Incorporate Other Features**: Consider integrating other numerical features like 'vote_average' and 'popularity' into the similarity calculation, possibly through a hybrid approach.
    *   **User Interface**: Develop a simple user interface for easier interaction with the recommendation system.

## Summary:

### Data Analysis Key Findings

*   A content-based movie recommendation system was successfully developed using the `movieDataseet.csv` dataset.
*   The system operates by selecting relevant features including movie ID, title, overview, and genre.
*   A new feature called 'tags' was engineered by concatenating the 'overview' and 'genre' columns to represent movie content.
*   Text vectorization was performed using `CountVectorizer` (with a maximum of 10,000 features and stop words removed) to convert 'tags' into numerical representations.
*   Cosine similarity was calculated between all movie vectors to determine their resemblance, forming the basis for recommendations.
*   A function was implemented to recommend the top 5 most similar movies based on a given movie title.